################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj/
/.vs
CHDSharpEncoder/CHDInfo.md
CHDSharpEncoder/EncoderPlan.md
CHDSharpEncoderTest/TestResults/
whatsnew.md
